[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
pandas = "*"
docx2txt = "*"
pymorphy2 = {git = "git+https://github.com/pymorphy2-fork/pymorphy2.git"}
regex = "*"

[dev-packages]

[requires]
python_version = "3.12"
